*{
  margin: 0px;
  padding: 0px;
  font-family: "filson-soft", sans-serif;
  font-weight: 500;
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  #mobile-container, #videocontainer{
    max-width: 500px;
  }

}

body{
  background: #D4A7FF;
  text-align: center;
  color: #554366;
}
h1 {
  font-family: "santelia-script", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 1em;
}
h2{
  font-size: 18px;
}
.primary-button{
  color: white;
  font-size: 28px;
  padding: 12px;
  width: 180px;
  background: #9019FF;
  border-radius: 8px;
  margin: 20px;
  display: inline-block;
  cursor: pointer;
}
.primary-button img{
  margin-right: 4px;
}
video{
  width: 100%;
  display: none;
}

#mobile-container{
  width: 100%;
  //max-width: 600pt;
  margin: auto auto;
}
#main-nav{
  padding: 16px;
  text-align: center;
}
#home-button{
  float: left;
}
.hero-img{
  width:280px;
}

ul {
  list-style-type: none;
}
#playlist{
  padding: 12px;
  display: grid;
  column-gap: 16px;
  row-gap: 16px;
  grid-template-columns: auto auto;
  margin-top: 20px;
}
#playlist li{
  text-decoration: none;
  position: relative;
}
#playlist a{
  position: relative;
  text-align: center;
  display:inline-block;
}
#playlist .thumbnail{
  width:100%;
  border-radius: 8px;
}
img.number{
  position: absolute;
  top: 16px;
  left: 16px;
}
img.circle-play{
  opacity: 80%;
  position: absolute;
  z-index: 1;
  width: 48px;
  left: 36%;
  bottom: 40%;
}

#videocontainer{
  position: fixed;
  top: 0px;
  //left: 0px;
  margin: auto auto;
  width:100%;
  height:100%;
  background: #D4A7FF;
  display: none;
  z-index:10;
  //max-width: 600pt;
}
#video1, #video2, #video3, #video4{
  width:100%;
}
#close-button{
  position: absolute;
  top: 16px;
  right: 16px;
  padding: 8px;
  cursor: pointer;
  z-index: 12;
  filter: drop-shadow(0px 1px 4px rgba(0,0,0,.2)) ;
}
#tutorial-nav {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  background: #D4A7FF;
  z-index: 12;
  text-align: center;
}
#prev-button {
  float: left;
  padding: 16px;
}
#next-button {
  float: right;
  padding: 16px;
}
#currentIndex {
  margin: auto auto;
  padding: 16px;
}

a {
  text-decoration: none;
}
